.config/BraveSoftware/
.config/Code - OSS/
.config/git
.config/github-copilot/
.config/gh/
.config/ipython
.config/ghb/
.config/go/
.config/yay/
.config/yarn/
.config/xfce4/
.config/nvimlog
.config/pip/
.config/libreoffice/
.config/'Raspberry Pi'/
